<div>
    <h1>Accessories - {{products.length}} items</h1>

    <div>
{{#each products}}
        <div> 
            <img class="productPicture2" src="{{this.photo}}" alt="{{this.product}}">
            <a class="seeDetails2" href="/product/{{this._id}}">
                {{this.name}}
            </a> 
        </div>
        {{/each}}
</div>

