<br>
<div class="footerMargin">
    <h1>Home & Living - {{products.length}} item/s</h1>

    
        {{#each products}}
        <div> 
            <img class="productPicture2" src="{{this.photo}}" alt="{{this.product}}">
            <a class="seeDetails2" href="/product/{{this._id}}">
                {{this.name}}
            </a> 
        </div>
        {{/each}}
</div>
