    <h1>ARTéTIC</h1>

    <img src="/images/woman_chiapas.jpg" alt="Woman Chiapas" height="250px" width="350px">

    <div>
      {{#each products}}
      <div style="border: 1px solid black">
        <p>{{this.name}}</p>
        <p>{{this.category}}</p>
        <p>{{this.description}}</p>
        <img style="height: 200px;" src="{{this.photo}}">
        <p>${{this.price}}</p>
        <p>Stock remaining to be coded</p>
      </div>
      {{/each}}
    </div>


