<div>
    <h1>{{product.name}}</h1>
        <h3>100% Mexican Made</h3>
        <p>{{product.description}}<p>
        <p>Price: us$ {{product.price}}</p>
        <p>Stock: {{product.itemsRemaining}}</p>
        <p>Category: {{product.category}}</p>
        <p>Artisan: {{user.userName}}</p>
        <a href="/vendor/{{product.vendorId}}?productid={{product._id}}">More about this artisan</a>
        <br>
        <button><a href="/">Add to Favourites</a></button>
        <hr>
        <img class="picture" height="300px" width="300px" src="{{product.photo}}" alt="{{this.name}}'s picture">
</div>

