<div>
    <h1>{{this.name}}</h1>
        <h3>100% Mexican Made</h3>
        <p>{{this.description}}<p>
        <p>Price: u$s {{this.price}}</p>
        <hr>
        <img class="picture" src="{{this.photo}}" alt="{{this.name}}'s picture">
</div>
