
<div class="productPage">

<div class="categoryCard">
        <h3 class="categoryTitle">Artisan {{vendor.userName}}'s Page</h3>
</div>

<div class="productCard">
    <img class="productPicture" src="{{vendor.photo}}" alt="{{vendor.userName}}'s picture">
</div>

<div class="productCard"> 
    <h1>{{vendor.userName}} from {{vendor.city}}</h1> 
    <br>
    <p> <strong style="color: #FA9657;" >About Me:</strong> {{vendor.description}}</p>
    <br>
    <button><a class="vendorButton" href="/product/{{prodId}}">Back to product</a></button>
</div>

<div class="goodsFrom">
    <h3> Goods from: <strong style="color: #FA9657;" >{{vendor.userName}} </strong> </h3>
    <br>
    <p>Click a photo to see the product!</p>
    <br>
    {{#each products}}
    <a href="/product/{{this.id}}"><img class="vendorProductPicture" src="{{this.photo}}" alt="{{this.name}}"></a>
    {{/each}}
</div>

</div>