<div>
      <div class="infobox" style="border: 1px solid black">
        <p>About me: {{vendor.firstName}} from {{vendor.city}}</p>
        <img src={{vendor.photo}} alt={{vendor.userName}} height="250px" width="350px">
{{!-- investigate how to retrieve the previous product id --}}
        <a href="/product/{{prodId}}">back to the item</a>

        <p>{{vendor.description}}</p>
        <p>Only {{vendor.itemsRemaining}} left in stock</p>
      </div>
    </div>
     <div style="border: 1px solid black">
         <p>Goods from {{vendor.userName}}</p>



      {{#each products}}
      <div class="infobox" style="border: 1px solid black">
        <p>{{this.name}}</p>
        <p>{{this.photo}}</p>
      </div>
      {{/each}}
</div>
